<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />--->
    <link rel="stylesheet" href="./../styles/mui.css">
    <link rel="stylesheet" href="./../styles/styles.css">
    <!--<script src="https://cdn.muicss.com/mui-latest/js/mui.min.js" type="module"></script>-->

  </head>
  <body>
    <button class="mui-btn mui-btn--fab mui-btn--primary floating-btn-out" id="logout">выйти</button>

    <div id="sidebar">
      <div class="mui--text-white mui--text-display1 mui--align-vertical"> App на JS
        <br>
        <small class="author">by Igor</small>
      </div>
    </div>
    <div id="content" class="mui-container-fluid">
      <div class="mui-row">
        <div class="mui-col-sm-10 mui-col-sm-offset-1">
          <br>
          <br>
          <div class="mui--text-headline"><h1>Hello, %nickname%</h1></div>
          <div>
            <p>nickname: %nickname%</p>
            <p>id: %id%</p>
            <p>role: %role_name%</p>
            <p>email: %email%</p>
            </div>
        </div>
      </div>
    </div>
  <script src="./../js/mui.js" type="module"></script>
  <script src="./../js/index.js" type="module" ></script>
  <!--<script type="module" src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"824ec25109c16618","version":"2023.10.0","token":"c8bda678e8c641c3bc7781653b8a1835"}' crossorigin="anonymous"></script>-->
</body>
</html>
